*~
out/*
contracts/bank/out/*
contracts/bet/out/*
contracts/payment_splitter/out/*
contracts/regression/out/*
venv/*
.vscode/*
__pycache__/*
.vscode/launch.json
contracts/__pycache__/test_contracts.cpython-310-pytest-6.2.5.pyc
contracts/__pycache__/test_contracts.cpython-310-pytest-6.2.5.pyc
